@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito);
}
:root {
  --primary-color: #031119;
  --secondary-color: #1b262c;
  --success-color: #e3a127;
  --padding-xl: 2rem 3rem;
  --padding-xl-2: 8rem 3rem;
  --padding-lg-nav: 2rem;
  --padding-lg: 8rem 2rem;
  --padding-md-nav: 1rem;
  --padding-md: 8rem 1rem;
  --font-ropoto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
}

header {
  width: 100%;
  height: 75px;
  padding: var(--padding-xl);
  background: transparent;
  position: fixed;
  top: 0;
  z-index: 3;
}
.navbar {
  width: 100% !important;
  background-color: var(--secondary-color) !important;
  height: 75px !important;
  border-radius: 5rem !important;
  -webkit-border-radius: 5rem !important;
  -moz-border-radius: 5rem !important;
  -ms-border-radius: 5rem !important;
  -o-border-radius: 5rem !important;
  font-family: var(--font-nunito) !important;
}
.nav-link {
  color: #fff !important;
  font-size: 1.1rem !important;
  font-weight: 300 !important;
}
.btn-about {
  width: 150px;
  background-color: var(--success-color);
  color: #fff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border: none;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.6rem 2rem;
}
.btn-about:hover {
  background-color: #e3a127d2 !important;
}
.nav-link.active {
  color: var(--success-color) !important;
}
.nav-link:hover {
  color: var(--success-color) !important;
}
.listAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dropdown span {
  display: none;
}
@media (max-width: 992px) {
  header {
    padding: var(--padding-lg-nav);
  }
  .listAndBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    flex-direction: row-reverse;
  }
  .btn-about {
    width: 100px;
    height: 40px;
    padding: 0;
    font-size: 0.8rem !important;
  }
  .collapse:not(.show) {
    display: none;
  }
  .collapse.show {
    display: block !important;
    position: absolute !important;
    top: 22px;
    left: 50%;
    transform: translate(-50%, 22px);
    background: var(--secondary-color);
    width: 100%;
    height: 85vh;
    padding: 0 1rem;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    box-shadow: 0 0 60px 100px rgb(255 255 255 / 16%);
  }
  .navbar-toggler {
    border: none !important;
    width: 60px !important;
    height: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-icon {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .navbar-iconClose {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
  }
  .navbar-iconClose svg {
    width: 30px;
    height: 30px;
    fill: #fff;
  }
  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown span {
    width: 25px;
    height: 25px;
    background: #e3a1275a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .dropdown span:hover {
    background: var(--success-color);
  }
  .dropdown span svg {
    fill: #fff !important;
  }
}
@media (max-width: 768px) {
  header {
    padding: var(--padding-md-nav);
  }
  .listAndBtn {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    width: fit-content;
    flex-direction: row-reverse;
  }
  .btn-about {
    width: 100px;
    height: 40px;
    padding: 0;
    font-size: 0.8rem !important;
  }
  .navbar-toggler {
    border: none !important;
    width: 50px !important;
    height: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-icon {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}
.homePage {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.02) 0px,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px,
    transparent 10px
  );
  padding: var(--padding-xl-2);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
}
.homepage-content-container {
  line-height: 2.5;
}
.homepage-content-container h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--font-nunito);
}
.homepage-content-container h1 {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 800;
  font-family: var(--font-nunito);
}
.homepage-content-container .homepage-line {
  width: 350px;
  height: 2px;
  background: #cccccc3c;
  margin: 1rem 0;
}
.homepage-img-container {
  position: relative;
}
.homepage-content-container p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--font-nunito);
}
.homepage-btn {
  width: 240px;
  height: 55px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  cursor: pointer;
}
.homepage-btn:hover {
  background: var(--success-color);
}
.homepage-btn h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--font-nunito);
}
.homepage-btn-icon svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}
.homepage-btn:hover .homepage-btn-icon svg {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}
.homepage-image img {
  width: 560px;
  height: 500px;
  object-fit: cover;
}
.homepage-card {
  width: 210px;
  height: 140px;
  background: #1b262c90;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  color: #fff;
  padding: 1rem;
  gap: 1rem;
}
.card-num-icon h4 {
  font-size: 3rem;
  font-weight: 700;
  font-family: var(--font-nunito);
}
.card-num-icon-svg {
  width: 40px;
  height: 40px;
  background: var(--success-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card-num-icon-svg:hover {
  background-color: #e3a127bb !important;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
.card-num-icon-svg svg {
  width: 30px;
  height: 30px;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  cursor: pointer;
}
.homepage-card {
  position: absolute;
  right: -15rem;
  bottom: 1rem;
}
.about-move-slid-container-content p {
  font-size: 1.1rem !important;
  color: #fff !important;
}
.about-move-slid-container-content-arrow-icons {
  padding-top: 1rem !important;
}
.about-move-slid-container-content-arrow-icons .arrow-icon {
  position: relative;
  z-index: 1;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about-move-slid-container-content-arrow-icons .arrow-icon:hover {
  background: var(--success-color);
}
.about-move-slid-container-content-arrow-icons .arrow-icon:hover svg {
  fill: #fff !important;
}
.about-move-slid-container-content-arrow-icons .arrow-icon svg {
  width: 25px;
  height: 25px;
  fill: #031119;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none !important;
}
.about-move-slid-container-feedback-cards {
  display: flex;
  gap: 0.5rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.about-move-slid-container-feedback-cards::-webkit-scrollbar {
  display: none;
}
.about-move-slid-container-feedback-card {
  width: 355px !important;
  height: auto !important;
  background: var(--secondary-color) !important;
  padding: 1.3rem !important;
  flex-shrink: 0 !important;
}
.about-move-slid-container-feedback-rate svg {
  fill: var(--success-color) !important;
  width: 20px !important;
  height: 20px !important;
}
.about-move-slid-container-feedback-content p {
  color: #fff;
  font-size: 1rem;
}
.user-porfile-info {
  color: #fff !important;
  font-size: 1rem;
}
.user-porfile-image {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user-porfile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .homePage {
    padding: var(--padding-lg);
    flex-direction: column;
    height: 220vh;
  }
  .homepage-img-container {
    padding: var(--padding-lg);
  }
  .homepage-image {
    width: 450px;
    height: auto;
  }
  .homepage-card {
    position: static;
    width: 100%;
  }
  .homepage-card p {
    text-align: left !important;
  }
  .swiper-slide {
    width: 50% !important;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 15px;
  }
  .homePage {
    flex-direction: column !important;
    padding: var(--padding-md);
    height: 205vh;
  }
  .homepage-content-container h1 {
    font-size: 4rem !important;
  }
  .homepage-content-container .homepage-line {
    width: 240px;
  }
  .homepage-image img {
    width: 100%;
    height: auto;
  }
  .homepage-img-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .homepage-card {
    position: static !important;
    width: 100% !important;
    margin-top: 2rem;
  }
  .card-num-icon {
    width: 100% !important;
  }
  .homepage-card p {
    text-align: left !important;
  }
}
.aboutPage {
  padding: var(--padding-xl);
}
.aboutPage h5 {
  color: #687075;
  font-family: var(--font-nunito);
  position: relative;
}
.aboutPage h5::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6%;
  width: 120px;
  height: 1px;
  background-color: var(--success-color);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.aboutPage h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--font-nunito);
}
.aboutPage-Content-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.aboutPage-Content-image {
  position: relative;
}
.aboutPage-Content-image-card {
  position: absolute;
  right: 0;
  background: var(--success-color);
  color: #fff;
  width: 180px;
  height: 115px;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 0 0 1rem;
  -webkit-border-radius: 1rem 0 0 1rem;
  -moz-border-radius: 1rem 0 0 1rem;
  -ms-border-radius: 1rem 0 0 1rem;
  -o-border-radius: 1rem 0 0 1rem;
}
.aboutPage-Content-text p {
  color: #687075;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: var(--font-nunito);
}
.aboutPage-Content-card {
  background: var(--secondary-color);
  color: #fff;
  font-size: 1rem;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.aboutPage-Content-card-icon {
  background: var(--success-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.aboutPage-Content-card-icon svg {
  width: 25px;
  height: 25px;
  stroke: #1b262c;
}
.aboutPage-Content-card h6 {
  font-size: 1.2rem;
  font-weight: 600;
}
.aboutPage-Content-card p {
  font-size: 1rem;
}
.aboutPage-Content-card-icon-tow svg {
  width: 25px;
  height: 25px;
  fill: #e3a127;
}
.aboutPage-Content-card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.btn.btn-about {
  width: 215px;
  height: 50px;
  background: var(--success-color);
  color: #fff;
  font-weight: 600;
  border-radius: 5rem !important;
  -webkit-border-radius: 5rem !important;
  -moz-border-radius: 5rem !important;
  -ms-border-radius: 5rem !important;
  -o-border-radius: 5rem !important;
}
.btn.btn-about:hover {
  color: #fff !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .aboutPage {
    padding: var(--padding-lg);
  }
  .aboutPage-Content-Container {
    flex-direction: column !important;
  }
  .aboutPage h5::after {
    left: 10%;
  }
  .aboutPage-Content-image {
    width: 100% !important;
  }
  .aboutPage-Content {
    width: 100% !important;
  }
  .aboutPage-Content-card {
    width: 350px;
    height: 219px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 0.8rem;
  }
  .btn-about {
    font-size: 1.1rem !important;
  }
  .about-move-slid-container-content {
    width: 100% !important;
    flex-direction: column !important;
  }
  .about-move-slid-container-content-arrow-icons {
    padding: 0.5rem !important;
  }
  .about-move-slid-container-content-arrow-icons span {
    width: 50px !important;
    height: 50px !important;
  }
}
@media (max-width: 767px) {
  .aboutPage {
    padding: var(--padding-md);
  }
  .aboutPage h2 {
    font-size: 1.5rem;
  }
  .aboutPage-Content-Container {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
  .aboutPage-Content-image-card {
    width: 130px;
    height: 100px;
    bottom: 20px;
  }
  .aboutPage-Content-image-card p {
    font-size: 1rem !important;
  }
  .aboutPage-Content-cards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding-top: 1.5rem !important;
  }
  .aboutPage-Content-card {
    width: 100% !important;
  }
  .aboutPage-Content-btn {
    display: flex !important;
    justify-content: center !important;
    padding-top: 2rem !important;
  }
  .aboutPage h5::after {
    left: 22%;
    width: 85px;
  }
  .aboutPage-Content {
    width: 100% !important;
  }
  .about-move-slid-container-content-arrow-icons {
    padding: 0.5rem !important;
  }
  .about-move-slid-container-content-arrow-icons span {
    width: 50px !important;
    height: 50px !important;
  }
  .about-move-slid-container-feedback-card {
    width: fit-content !important;
    height: auto !important;
  }
}
